$#ff0000: #ff0000;
$#787878: #787878;
$#ffffff: #ffffff;
$red: red;
$green: green;

$dotted-border: 1px dotted;
$1px solid: 1px solid;

@mixin columns {
  width: 50%;
  display: inline-block;
}

@mixin button--rounded-corners {
    background-color: $#ff0000;
    color: $#ffffff;
    font-family: $sans-serif;
    font-size: $14px;
    font-weight: 700;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
    border: $1px solid ;
    width:  auto;
    min-width: 10%;
    max-width: 100%;
}


body {
  margin: 0 auto;
  display: flex;
  overflow-x: hidden;
  width: 100%;
  background-color: #4e0000;

  @media screen and (max-width: 1024px) {
    overflow-x: none;
  }
}

main {
  width: 100%;
}

h1 {
  font-family: $sans-serif;
  font-size: ($14px * 2.25);
  font-weight: normal;
}

p {
  font-family: $sans-serif;
  font-size: $14px;
  font-weight: normal;
}

.content--form {
  margin: 0 auto;
  width: 50%;

  @media screen and (max-width: 1024px) and (orientation: portrait) {
    width: 100%;
    margin: 1em;
  }

  @media screen and (max-width: 1024px) and (orientation: landscape) {
    width: 75%;
    margin: 0 auto;
  }
}

.row {
  padding: 1em;
}

label {
  font-family: $sans-serif;
  font-size: ($14px + 1);
  font-weight: 700;

  &:first-of-type {
    padding-right: 0.5em;
  }

  &:nth-of-type(2) {
    padding-right: 0.99em
  }
}

input[type=text],
input[type=password],
input[type=email] {
  padding: 0.25em;
  width: 75%;
  border-radius: 5px;
  margin-bottom: 2em;

  &:focus {
    background-color: lighten($#787878, 25%);
  }
}

.column--left {
  @include columns();
  float: left;

  @media screen and (max-width: 1024px) {
    display: inline-block;
    margin-right: 2em;
    float: none;
  }
}

.column--right {
  @include columns();
  float: right;
  width: 40%;

  @media screen and (max-width: 1024px) and (orientation: portrait) {
    display: inline-block;
    float: none;
    width: 160px;
    margin-top: 1.5em;
  }
}

input[type=submit] {
  @include button--rounded-corners();

  &:hover {
    background-color: $#787878;
  }
}

input[type=button] {
  @include button--rounded-corners();
  background-color: $red;
  color: $#ffffff;

  &:hover {
    background-color: $#787878;
  }
}

#content--password-val-info,
#content--password-mem {
  display: none;
}

#content--password-mem {
  width: 50%;
  margin: 0 auto;

  @media screen and (max-width:1024px) and (orientation: portrait) {
    width: 90%;
  }
}

.content--validation {
  padding: 4em 0;
  font-family: $sans-serif;


  ul li {
    padding: 1em 0 1em 1em;
    list-style-type: none;
  }

  @media screen and (max-width: 1024px) and (orientation: portrait) {
    margin: 1em;
    padding: 2em 0;
  }
}

.valid {
  color: $green;

  &:before {
    position: relative;
    left: -35px;
    content: "✔️";
  }
}

.invalid {
  color: $red;

  &:before {
    position: relative;
    left: -35px;
    content: "❌";
  }
}
